APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change-me
APP_VERSION=dev
DATABASE_URL=postgresql://app:change-me@database:5432/app?serverVersion=16&charset=utf8

###> symfony/framework-bundle ###
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> symfony/mailer ###
MAILER_DSN=null://null
MAILER_FROM=no-reply@example.com
###< symfony/mailer ###
